################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/angular/src/app/proxy
